.fancy-text {
    .outline-text {
        font: 800 40px Work Sans;
        color:#7097C536;
        letter-spacing:15px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
      }
}