@import "/src/variables";

.global-container {
  padding: 15px;

  .white-card {
    // margin-top: 15px;
    // height: 100%;
    // width: 100%;
    // border-radius: 5px;
    // background: $white_color;
    // box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    // padding: 20px;

    .search-filter {
      display: flex;
      gap: 5px;
      padding: 0px 15px;
      width: 100%;
      background: $blue_magenta_color;
      // height: 70px;
    }

    .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
      color: $white_color;
      border: 1px dashed $primary-color;
      border-radius: 50%;
    }

    .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
      color: $primary-color;
    }

    .css-117w1su-MuiStepIcon-text {
      fill: none;
    }

    .invoice-pagination {
      display: flex;
      padding: 0px 10px;
    }
  }
}

