.dialog-animation {
  animation: bounce2 1s linear forwards;
  //   padding-bottom:750px;
}
@keyframes bounce2 {
  0% {
    padding-bottom: 0px;
  }
  20% {
    padding-top: 150px;
  }
  40% {
    padding-top: 50px;
  }
  60% {
    padding-bottom: 180px;
  }
  80% {
    padding-top: 100px;
  }

  100% {
    padding: 0;
  }
}

.talk-to-us-form2 {
  .MuiInputBase-root {
    padding: 0;
    border-radius: 8px;

    &.Mui-focused fieldset {
      border-color: rgba(255, 164, 18, 0.45);
    }

    .MuiInputBase-input {
      padding: 10px 16px;
      font-family: "Work Sans", sans-serif !important;
      color: #1e293b;
    }

    .MuiOutlinedInput-notchedOutline {
      border: 1.5px solid #e5e7eb;
    }

    &:hover .MuiOutlinedInput-notchedOutline {
      border-color: rgba(255, 164, 18, 0.45);
    }
  }

  .submit-button {
    animation: changeBG 5s infinite;
  }

  @keyframes changeBG {
    25% {
      background-color: #1e293b;
    }
    50% {
      background-color: #ff611d;
    }
    75% {
      background-color: #1e293b;
    }
    100% {
      background-color: #ff611d;
    }
  }
}
